
* {
  box-sizing:border-box;
}
p {
  font-size: 1.1rem;
  line-height: 150%;
}


.wrapper{
  background:rgba(250,250,250,1);
  border:solid 1px rgba(230,230,230,1);
  border-radius:1rem;
  padding:4rem;
  max-width:680px;
  margin:4rem auto;
}
.form {
  color: rgb(120,120,120)
}
.form__title {
  color:skyblue;
  font-size:2.5rem;
  line-height: 1;
  margin: 0;
  text-align:center;
}
.form__set {
  width:100%;
  margin:0.5rem auto;
}
.form__input{
  color:grey;
  border:solid 1px rgba(230,230,230,1);
  padding:.5rem;
  width:100%;
}
.form__input-invalid {
  border:1px solid red;
}
.form__btn {
  border:1px solid skyblue;
  border-radius: .25rem;
  background: #fff;
  color: skyblue;
  font-size:1.4rem;
  padding:.5rem 1rem;
  margin-top:1rem;
  text-align:center;
  width:10rem;
}
.form__btn:hover {
  border:1px solid skyblue;
  background: skyblue;
  color: #fff;
}
.form__footer{
  border-top:1px solid skyblue;
  margin-top: 1rem;
}
.form__footer-a{
  margin-left: 2rem;
}
.articles {
  background: rgba(240,240,240, 1);
  max-width:880px;
  margin:4rem auto;
  padding: 1rem;
}
.article__info {
  display: flex;
  justify-content: space-between;
  background: #fff;
  padding: 1rem;
}
.article__author{
  font-weight: bold;
}
.article__date{
}
.article__title {
  color: skyblue;
}
.article__body {
  background: #fff;
  padding: 1rem;
}
